<div class="loginbody">
    <div class="logincontent">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <h3>Login</h3>
            <div class="position-relative">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" autocomplete="off" minlength="4" maxlength="25"
                    #username="ngModel" [(ngModel)]="model.username"
                    [class.is-valid]="username.valid && (username.dirty || username.touched)" pattern="^[a-zA-Z]+$"
                    required>
                <span class="form-control-feedback position-absolute"
                    *ngIf="username.errors && (username.dirty || username.touched)">
                    <span *ngIf="username.errors['required']">Username is Required</span>
                    <span *ngIf="username.errors['pattern']">
                        Please enter letter only
                    </span>
                </span>
            </div>
            <div class="position-relative">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" minlength="8" maxlength="25"
                    autocomplete="off" #password="ngModel" [(ngModel)]="model.password"
                    [class.is-valid]="password.valid && (password.dirty || password.touched)"
                    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,16}" required>
                <span class="form-control-feedback position-absolute"
                    *ngIf="password.errors && (password.dirty || password.touched)">
                    <span *ngIf="password.errors['required']">Password is Required</span>
                    <span *ngIf="password.errors['pattern']">
                        Please enter Valid Password
                    </span>
                </span>
            </div>
            <div class="forget pt-4">
                <a href="register">Register Now</a>
                <p class="m-0">Forget Password ?</p>
            </div>
            <div class="text-center pt-2">
                <button type="submit" class="text-center">Login</button>
            </div>
        </form>
    </div>
</div>